* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --themeColor: rgba(17, 17, 17, 0.49);
    --textColor: rgb(162, 162, 162);
    /* --boxWidth: 25%; */
}

body {
    /*                              VARS NO GLOBALES POR DEFECTO */
    --imagesPerContainer: 4;

    width: 100vw;
    height: 100vh;
    background: url(../resources/images/dashboard-background-body.jpg);
    background-size: cover;

    header {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 120px;
        background-color: var(--themeColor);
        display: flex;
        backdrop-filter: blur(5px);

        div {
            position: relative;
            height: 100%;

            img {
                position: absolute;
                bottom: 0;
                left: 20px;
                height: 70%;
                filter: invert();
                opacity: .8;
            }
        }

        h1 {
            z-index: 100;
            width: 100%;
            margin-left: 160px;
            color: rgba(255, 255, 255, 0.649);
            font-size: 60px;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    main {
        width: 100%;
        height: calc(100% - 120px);
        display: flex;

        .open {
            position: absolute;
            appearance: none;
            width: 0;
            height: 0;
            background-color: rgba(255, 255, 255, 0);
        }

        nav {
            position: relative;
            top: 120px;
            background-color: var(--themeColor);
            width: 200px;
            height: 100%;
            backdrop-filter: blur(5px);


            form {
                width: 100%;
                /* height: 100%; */
                font-size: 14px;
                display: flex;
                flex-direction: column;
                align-items: center;

                fieldset {
                    margin-top: 30px;
                    width: 90%;
                    padding: 0 6px 0 6px;
                    color: var(--textColor);
                    border-color: rgba(128, 128, 128, 0.335);
                    padding: 20px 6px 0 6px;


                    .filters {
                        position: relative;
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        border-radius: 10px;
                        color: var(--textColor);

                        &:hover label {
                            background-color: white;
                            color: black
                        }

                        input {
                            display: none;

                            &:checked {
                                border: 0px;
                            }

                            &:checked+label {
                                background-color: white;
                                color: black;
                            }
                        }

                        label {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            user-select: none;
                            border-radius: 10px;
                            background-color: rgba(0, 0, 0, 0.7);
                            transition: .3s ease-in;
                        }
                    }
                }
            }
        }

        .containerApp {

            position: relative;
            top: 140px;
            width: 100%;
            height: calc(100vh - 120px);
            overflow: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;

            .hidden {
                appearance: none;
                width: 100%;
                height: 100%;
                position: absolute;
            }

            .containerBoxes {
                position: relative;
                display: flex;
                /* border: 1px solid rgb(255, 0, 195); */
                width: 96%;
                aspect-ratio: 16/3;
                align-items: center;
                justify-content: center;

                &:first-of-type .radio,
                &:first-of-type .boxInput {
                    transform-origin: 50% 0;
                }

                .boxInput {
                    position: relative;
                    width: calc(100% / var(--imagesPerContainer));
                    height: 100%;
                    /* border: 1px solid green; */

                    .boxImage {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;

                        .img {
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-size: 400%;
                            background-position: left;
                            transition: 6s;
                        }

                        .info {
                            position: absolute;
                            top: 15px;
                            width: 80%;
                            height: 20px;
                            text-align: center;
                            background-color: rgba(255, 255, 255, 0.153);
                            backdrop-filter: blur(6px);
                        }
                    }

                    .radio {
                        position: absolute;
                        z-index: 1;
                        appearance: none;
                        width: 100%;
                        height: 100%;
                        transition: 1s ease-in-out;

                        &:hover+.boxImage .img {
                            filter: grayscale(0);
                            background-size: 140%;
                            /* background-position: center; */
                            transition: 1.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:901px) {
    body {
        /*                              VARS NO GLOBALES POR DEFECTO */
        --imagesPerContainer: 4;
    }
}

@media only screen and (max-width:900px) {

    body {
        /*                              VARS NO GLOBALES POR DEFECTO */
        --imagesPerContainer: 2;

        main {
            .containerApp {
                .containerBoxes {
                    aspect-ratio: 16/5;
                }
            }
        }
    }
}

@media only screen and (orientation: portrait) {

    body {
        position: relative;

        header {

            h1 {
                position: relative;
                top: 20px;
                margin-left: 10%;
                font-size: 7vw;
            }

            div {
                position: relative;

                height: 80%;

                img {
                    position: absolute;
                    bottom: -20px;
                    left: 20px;
                    height: 70%;
                    filter: invert();
                }
            }

        }

        main {

            .open {
                position: fixed;
                width: 220px;
                height: 220px;
                z-index: 5;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                top: -100px;
                left: calc(100% - 100px);
                transition: 2s;

                &:checked {
                    background-color: rgba(255, 255, 255, 0.355);
                }
    
                &:checked+nav {
                    width: 100%;
                    left: 0;
                    opacity: 1;
                    transition: 1s;
                }

                &:checked+nav form {
                    left: 0;
                    opacity: 1;
                    transition: 2s;
                }
            }


            nav {
                position: absolute;
                position: fixed;
                top: 120px;
                display: flex;
                align-items: center;
                left: -210%;
                height: 500px;
                z-index: 2;
                transition: 2s;

                form {
                    position: relative;
                    top: -20px;
                    left: -100px;
                    width: 100%;
                    opacity: 0;
                    transition: 2s;

                    fieldset {
                        color: white;
                        border: 1px solid grey;
                        padding: 20px;

                        legend {
                            font-size: 22px;
                        }

                        .filters {
                            height: 80px;
                            font-size: 30px;
                            background-color: rgba(0, 0, 0, 0.459);
                            backdrop-filter: blur(4px);
                            text-align: center;
                        }
                    }
                }
            }

            .containerApp {
                width: 100vw;
                height: 90000px;

                .containerBoxes {
                    width: 100vw;
                    height: 100%;

                    flex-direction: column;

                    .boxInput {
                        width: 100vw;

                        .boxImage {
                            width: 100%;
                            padding: 10px;

                            .img {
                                background-size: 600%;
                            }

                            .info {
                                display: none;
                            }
                        }

                        .radio {

                            &:hover+.boxImage .img {
                                background-size: 200%;
                                background-position: right;
                                transition: 5s;
                            }
                        }
                    }
                }
            }
        }
    }
}