@media only screen and (max-width: 1000px) and (orientation: landscape) {

    body {

        .containerBox {
            max-height: 100%;
            position: relative;

            .login {
                height: 100%;

                h1 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }

                .formSection {

                    img {
                        width: 10vh;
                        height: 10vh;
                    }
                }
            }
        }
    }
}