@import "class.css";

:root {
    --boxColor: rgba(0, 0, 0, 0.767);
    --formTextColor: white;
    --transitionTime: 1.2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../resources/images/login-background-body.jpg);
    background-size: cover;

    .containerBox {
        width: 360px;
        height: 560px;
        background-color: rgba(255, 255, 255, 0.172);
        backdrop-filter: blur(6px);
        display: flex;
        padding: 20px;
        border-radius: 10px;
        transition: var(--transitionTime) ease-out;
        transition-delay: calc(var(--transitionTime) * 3);

        .login {
            width: 320px;
            height: 520px;
            background-color: var(--boxColor);
            color: var(--formTextColor);
            padding: 20px;
            border-radius: 10px;

            h1 {
                font-size: 40px;
                text-align: center;
            }

            .formSection {
                height: 100px;
                display: flex;
                margin: 40px 0 40px 0;

                img {
                    width: 70px;
                    height: 70px;
                }

                div {
                    width: 100%;
                    display: flex;
                    padding-left: 10px;
                    justify-content: center;

                    label,
                    input {
                        height: 30px;
                        text-align: center;
                    }

                    input {
                        font-size: 12px;
                        background-color: transparent;
                        border: none;
                        color: rgb(80, 176, 255);
                        border-bottom: 1px solid rgba(198, 198, 198, 0.711);

                        &::placeholder {
                            color: rgb(198, 198, 198);
                            position: relative;
                            top: 10px;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .accept {
                margin: 0 20px 0 20px;

                .acceptCheck {
                    appearance: none;
                    height: 16px;
                    width: 16px;
                    border: 1px solid rgb(243, 67, 67);
                    margin-right: 6px;
                    position: relative;
                    top: 2px;
                    cursor: pointer;
                    transition: .5s ease-out;

                    &:checked {
                        background-color: rgb(67, 126, 243);
                        border: 0;
                        transition: .5s ease-out;
                    }
                }

                label {
                    font-size: 11px;
                    color: rgba(198, 198, 198, 0.711);

                    span {
                        color: rgb(243, 67, 67);
                        position: relative;

                        .check {
                            appearance: none;
                            width: 70px;
                            height: 24px;
                            position: absolute;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .terminos {
            width: 0;
            height: 100%;
            background-color: var(--boxColor);
            border-radius: 10px;
            transition: var(--transitionTime) ease-out;
            transition-delay: calc(var(--transitionTime) * 2);

            .legal {
                width: 0;
                height: 0;
                opacity: 0;
                overflow: scroll;
                scrollbar-width: none;
                border: 1px solid grey;
                border-radius: 10px;
                transition: var(--transitionTime) ease-out;
                transition-delay: calc(var(--transitionTime) * 1);

                p {
                    position: relative;
                    top: 100%;
                    padding: 20px;
                    font-size: 12px;
                    color: rgb(131, 131, 131);
                    transition: var(--transitionTime) ease-out;
                    transition-delay: calc(var(--transitionTime) * 0);
                }
            }
        }

        input[type='button'] {
            margin-top: 34px;
            width: 100%;
            height: 26px;
            background-color: transparent;
            border-radius: 6px;
            border: none;
            box-shadow: inset 0 0 10px 0 rgb(97, 97, 97);
            color: rgb(80, 176, 255);
            transition: .4s;

            &:hover {
                color: white;
                box-shadow: inset 0 0 20px 0 rgb(80, 176, 255);
                transition: .4s;
            }
        }
    }
}

body:has(.check:checked) {

    .containerBox {
        width: 1000px;
        transition: var(--transitionTime) ease-out;
        transition-delay: calc(var(--transitionTime) * 0);
        background-color: rgba(0, 0, 0, 0.144);

        .terminos {
            width: calc(100% - 320px);
            height: 100%;
            background-color: var(--boxColor);
            margin-left: 20px;
            opacity: 1;
            transition: var(--transitionTime) ease-out;
            transition-delay: calc(var(--transitionTime) * 1);

            .legal {
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                opacity: 1;
                border: 1px solid rgb(243, 67, 67);
                transition: var(--transitionTime) ease-out;
                transition-delay: calc(var(--transitionTime) * 2);

                p {
                    top: 0;
                    transition: var(--transitionTime) ease-out;
                    transition-delay: calc(var(--transitionTime) * 3);

                }
            }
        }
    }
}